PROJETOS/Alura
PROJETOS/DNC
PROJETOS/FIAP
C:\Users\gusta\OneDrive\Área de Trabalho\Ciencia de dados\Dnc\Projetos\DNC
C:\Users\gusta\OneDrive\Área de Trabalho\Ciencia de dados\Dnc\Projetos\DNC\Pipelines\notebooks\insurance_temp.ipynb